/* .columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 98%;
  }

  .column {
    flex: 30%;
    margin-left: 35px;
    margin-top: 50px;
    height: 200px;
  }
  section{
    word-wrap: break-word !important;
    text-align: left;
    color: rgb(17, 16, 16);
  }

  body{
    background-color: #f7e877;
    background: #ffc629;
  }
 .details{
    width: 500px;
    height:50px;
    background-color: #eeede5;
  }

  .bckdrop img{
    margin-left: 100px;
    width: 450px;
    height:600px;
  }

  .footer {
    grid-row: 4 / 5;
    grid-column: 1 / 4;
  }
  .footer {
    background-color: #6C52D9;
    background-image: linear-gradient(160deg, #6C52D9 0%, #9B8AE6 127%);
  } */

  body {
    width: 99%;
    margin: 0 auto;
    background-color: #262b47!important;
  }
  /* #wrapper {
    background-color: #dedcdc;
  } */
  /* h1 {
    margin: 1% 0%;
    padding: .25em;
    background-color: #efefef;
  } */
  ul {
    text-align: center;
  }
  h1, p {
    text-align: center;
  }
  #content {
    overflow: auto;
  }
  #nav, #feature, #footer {
    margin: 1% 0%;
  }

  .column1, .column2, .column3 {
    width: 31.3%;
    float: left;
  }
  
  /* .column4, .column5 {
    width: 44%;
    float: left;
  }
  .column4 {
    float: left;
    margin: 0% 2%;
    background-color: #262b47 !important;
    color: #fff;
    height: 200px;
    font-family: 'PT Sans',Helvetica,Arial,Lucida,sans-serif;
  }
  .column5 {
    float: left;
    margin: 0% 2%;
    background-color: #2e3858 !important;
    height: 200px;
    font-family: 'PT Sans',Helvetica,Arial,Lucida,sans-serif;
  } */

  .column1 {
    float: left;
    margin: 0% 1%;
  }
  .column2 {
    margin: 0% 1%;
  }
  .column3 {
    float: right;
    margin: 0%;
    margin: 0% 1%;
  }
  
  li {
    display: inline;
    padding: 0.5em;
  }
  #nav, #footer {
    background-color: #efefef;
    padding: 0.5em 0;
  }
  #feature, .article {
    background-color: #efefef;
    height: 10em;
    margin-bottom: 1em;
  }

  div.et_pb_section.et_pb_section_4 {
    background-image: linear-gradient(90deg,#6cdfee 0%,#538bf8 100%)!important;
}

