.starPlayEmail{
 display: none;
}
label {
  line-height: 1;
  text-align: left;
  display: block;
  margin-bottom: 5px;
  margin-top: 0px;
  color: #fff;
  font-size: 14px;
  font-weight: 100;
}

@media (min-width: 1280px) {
    .searchMainBox{
        width:100%;
        height:100px;
        background-color: #2a3156;
    }
    .searchMainBox h3 {
        margin : 5px 0px 5px 220px;
        color: #f5f5f5;
    }

    .searchBox{
        height: 60px;
        margin : 0px 0px 0px 20px;
    }
    .searchBox input{
        width: 400px;
        height: 30px;
        margin : 30px 0px 0px 400px;
        border: solid 0.1px #e4669f !important;
    }
    
    .playerRow{
     display: flex;
     width: 710px;
     padding: 10px;
     margin: 5px 0px 10px 0px;
     justify-content: space-between;
     /* background-color: #e4669f; */
     background-color: #e8e9eb; 
    }
    .plyName, .checkStyle2, .checkStyle3, .checkStyle4 {
        float: right;
        width: 70px !important;
        margin: 0px 10px 0px 10px;
        font-size: 14px;
        color: #0d1f43 !important;
    }
    .plyEmail{
      float: right;
      width: 80px !important;
      margin: 0px 5px 0px 5px;
      font-size: 12px;
      color: #0d1f43;
  }
    .plyMobile{
      float: right;
      width: 50px !important;
      margin: 0px 10px 0px 5px;
      font-size: 12px;
      color: #090909;
  }
    .plyPhoto img{
      width: 50px !important;
      border-radius: 25px;
    }
    .checkStyle2 > label, .checkStyle3 > label{
      color: #0d1f43;
    }
    .col1 {
        width: 710px;
        height: 520px;
        border: solid 0.1px #e4669f !important;
        padding: 10px;
        margin: 10px 0px 10px 0px;
        float: left;
        overflow: auto;
      }
      .col2 {
        width: 400px;
        height: 500px;
        border: solid 0.1px #e4669f !important;
        padding: 20px;
        margin: 10px 0px 10px 0px;
        float: right;
      }
      .col1 h3, .col2 h3, h4{
        text-align: center;
        color: #fff;
    }
    .newsSection textarea{
        width: 400px !important;
        height:150px !important;
        margin: 0 auto;
      }
      .col3 {
        width: 50px;
        height: 30px;
        padding: 10px;
        margin: 10px 0px 10px 100px;
        float: left;
      }
      .col4 { 
        width: 50px;
        height: 20px;
        padding: 10px;
        margin: 10px 50px 10px 100px;
        float: left;
      }
      .col1 .loadReqts button{
        width: 20%;
        margin-left: 270px;
      }
    
      input[type="submit"] {
        width: 150px;
        height:30px;
        background: #ec5990;
        color: white;
        text-transform: uppercase;
        border: none;
        margin-top: 2px;
        font-size: 16px;
        font-weight: 100;
        letter-spacing: 10px;
      }
      /* .starPlayers{
        height: 75px;
        width: 75px;
        background-color: #d4d6db;
        margin: 7px;
      } */

      .col2 .playermonthly{
        width: 400px;
        height: 200px;
        margin: 100px 0px 10px 30px !important;
      }
      .playermonthly .starPlayers img{
        /* display: grid !important;
        grid-template-columns: 1fr 1fr 1fr 1fr !important; */
        display: grid;
        grid-template-columns: 50px 50px 50px 50px 50px !important;
        width:50px;
        height: 50px;
        border-radius: 25px;
        margin: 5px 0px 0px 2px;
      }
}


@media (min-width: 1920px) {
    .searchMainBox{
        width:100%;
        height:100px;
        background-color: #2a3156;
    }
    .searchMainBox h3 {
        margin : 5px 0px 5px 470px;
        color: #f5f5f5;
    }

    .searchBox{
        height: 60px;
        margin : 30px 0px 0px 300px;
    }
    .searchBox input{
        width: 400px;
        height: 30px;
        margin : 0px 0px 0px 200px;
        border: solid 0.1px #e4669f !important;
    }
    .playerRow{
        width: 710px;
        padding: 0px;
        float:left;
        margin: 5px 0px 10px 0px;
        justify-content: space-between;
        background-color: #e8e9eb; 
       }
   
       .col1 {
        width: 710px;
        height: 600px;
        border: solid 0.1px #e4669f !important;
        padding: 10px;
        margin: 10px 0px 10px 0px;
        float: left;
        overflow: auto;
      }
      .col2 {
        width: 500px;
        height: 600px;
        border: solid 0.1px #e4669f !important;
        padding: 10px;
        margin: 10px 0px 10px 0px;
        float: right;
      }
      .col1 h3, .col2 h3{
          text-align: center;
          color: #fff;
      }
      .newsSection textarea{
        width: 435px !important;
        height:150px !important;
        margin: 0 auto;
        font-size: 18px;
        font-family: gotham,Helvetica,Arial,sans-serif;
        margin-left: 26px;
      }
      .newsSection button{
          width: 100px;
          padding: 5px;
          margin: 5px 10px 0px 10px !important;
          
      }
      .newsSection label{
        margin-left: 26px;
      }
      .col3 {
        width: 50px;
        height: 30px;
        padding: 10px;
        margin: 10px 0px 10px 100px;
        float: left;
      }
      .col4 { 
        width: 50px;
        height: 30px;
        padding: 10px;
        margin: 10px 50px 10px 155px;
        float: left;
      }
      .col1 .loadReqts button{
        width: 20%;
        margin-left: 270px;
      }
      .plyPhoto img{
        width: 50px !important;
      }

      .playermonthly{
        width: 400px;
        height: 300px;
        /* border: solid 0.1px #e4669f !important; */
        margin: 100px 0px 10px 30px !important;
      }

      .starPlayers img{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr !important;
        border-radius: 25px;
        margin: 10px 5px 0px 10px;
      }

      .successRequest{
        color: #46e49a;
        font-size: 14px;
        font-weight: 100;
        margin-bottom: 10px;
        padding-bottom: 10px;
      }
      .checkStyle1{
        margin: 10px 5px 0px 5px;
      }

      .plyName, .checkStyle4, .btnStyle4{
        float: right;
        width: 50px !important;
        margin: 10px 5px 0px 5px;
        font-size: 14px;
        color: #0d1f43;
    }
    .checkStyle2, .checkStyle3{
      float: right;
      width: 100px !important;
      margin: 10px 5px 0px 5px;
      font-size: 14px;
      color: #0d1f43;
    }

    .checkStyle2 > label, .checkStyle3 > label{
      color: #0d1f43;
    }
    
    .plyEmail{
      float: right;
      width: 80px !important;
      margin: 10px 15px 0px 0px;
      font-size: 12px;
      color: #0d1f43;
  }
    .plyMobile{
      float: right;
      width: 50px !important;
      margin: 10px 10px 0px 5px;
      font-size: 12px;
      color: #0d1f43;
  }
    .plyPhoto img{
      width: 30px !important;
      border-radius: 15px;
      margin: 5px 15px 0px 0px;
    }

    .requestValidationText{
      height: 30px;
      color:rgb(63, 211, 184);
      margin: 10px 15px 0px 260px !important;
    }
    
}



